name: Brick GraphQL Generators
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - "packages/brick_graphql_generators/**"
      - ".github/workflows/brick_graphql_generators.yaml"

defaults:
  run:
    shell: bash

env:
  PUB_ENVIRONMENT: bot.github

jobs:
  analyze_format_test:
    uses: GetDutchie/brick/.github/workflows/reusable-dart-analyze-format-test.yaml@main
    with:
      package: brick_graphql_generators
