name: Reusable | Dart Analyze, Dart Format, Dart Test

on:
  workflow_call:
    inputs:
      package:
        required: true
        type: string

jobs:
  dart_analyze_format_test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        sdk_version: [beta, stable]
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@89f242ee29e10c53a841bfe71cc0ce7b2f065abc
        with:
          access_token: ${{ github.token }}
      - uses: dart-lang/setup-dart@v1.0
        with:
          sdk: ${{ matrix.sdk_version }}
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2.1.6
        with:
          path: "~/.pub-cache/hosted"
          key: ${{ runner.os }}-${{ inputs.package }}-v1-${{ matrix.sdk_version }}-${{ hashFiles(format('packages/{0}/pubspec.yaml', inputs.package)) }}
          restore-keys: |
            ${{ runner.os }}-${{ inputs.package }}-v1-${{ matrix.sdk_version }}
      - id: checkout
        uses: actions/checkout@v2.3.4

      - run: dart pub get && melos bootstrap --scope="${{ inputs.package }}"

      - run: dart analyze --fatal-infos lib
        working-directory: packages/${{ inputs.package }}

      - run: dart format --output=none --line-length 100 --set-exit-if-changed lib test
        working-directory: packages/${{ inputs.package }}

      - run: if [ -d "test" ]; then dart test; fi
        working-directory: packages/${{ inputs.package }}
