name: Reusable | Flutter Analyze, Dart Format, Dart Test

on:
  workflow_call:
    inputs:
      package:
        required: true
        type: string

jobs:
  flutter_analyze_format_test:
    runs-on: ubuntu-latest
    container:
      image: cirrusci/flutter:${{ matrix.flutter_version }}
    strategy:
      fail-fast: false
      matrix:
        flutter_version: [dev, stable]
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@89f242ee29e10c53a841bfe71cc0ce7b2f065abc
        with:
          access_token: ${{ github.token }}
      - name: Install SQLite3
        run: sudo apt-get update && sudo apt-get -y install sqlite3 libsqlite3-dev
      - name: Cache Pub hosted dependencies
        uses: actions/cache@v2.1.6
        with:
          path: "~/.pub-cache/hosted"
          key: ${{ runner.os }}-${{ inputs.package }}-v1-${{ matrix.sdk_version }}-${{ hashFiles(format('packages/{0}/pubspec.yaml', inputs.package)) }}
          restore-keys: |
            ${{ runner.os }}-${{ inputs.package }}-v1-${{ matrix.flutter_version }}
      - id: checkout
        uses: actions/checkout@v2.3.4

      - run: flutter pub get
        working-directory: packages/${{ inputs.package }}

      - run: dart analyze --fatal-infos lib
        working-directory: packages/${{ inputs.package }}

      - run: dart format --output=none --line-length 100 --set-exit-if-changed .
        working-directory: packages/${{ inputs.package }}

      - run: flutter test
        working-directory: packages/${{ inputs.package }}
